body{
	background-image:url("images/img2.jpg");
}
h1{
	font-size: 4em;
	color: white;
	text-align: center;
	font-family: 'Shadows Into Light', cursive;
}

h3{
	font-size: 4em;
	color: white;
	text-align: center;
	font-family: 'Dancing Script', cursive;
}